section,
header,
nav,
article,
aside,
footer,
main {
    display: block;
}

.col-centered{
   float: none;
   margin: 0 auto;
}

p {
   margin-top: 20px;
}

p::first-letter {
  font-size: 1.5rem;
  font-weight: bold;
  color: brown;
}

form.error {
color:red;
}

form.login-form{
    margin-left: auto;
    margin-right: auto;
    max-width:30%;
    background-color: #efefef;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 15px;
}

form.mail-form{
    margin-left: auto;
    margin-right: auto;
    max-width:600%;
    background-color: #efefef;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 15px;
}
/* стилизуем кнопку*/
.go-top {
    position: fixed; /* фиксированная позиция*/
    right: 20px; /* регулировка*/
    bottom: 50px; /* положения*/
    cursor: pointer;
    font-size: 18px;
    color: rgba(0,51,153,0.8);
    border: 1px solid rgba(0,51,153,0.3);
    border-radius: 50%;
    background-color: rgba(0,51,153,0.4);
    padding: 8px 15px 12px 15px;
    z-index: 1000; /* над всеми элементами*/
    display: none; /* изначально кнопку не видно*/
}

/* поведение при наведении мыши*/
.go-top:hover {
    color: rgba (0,51,153,0.95);
    border: 1px solid rgba(255,0,153,0.75);
    background-color: rgba(100,51,153,0.85);
}

/* модификатор для отображения*/
.go-top--show {
    display: block;
}
