{% extends "base.html" %}

{% block content %}
<h1>{{ title }} </h1>
{% if message %}
<div class="alert alert-danger" role="alert">{{message}}</div>
{% endif %}
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.title.label }}<br>
        {{ form.title (class="form-control") }}<br>
        {% for error in form.title.errors %}<br>
    <p class="alert ale-danger" role="alert">{{ error }}</p>
    {% endfor %}
    <p>
        {{ form.content.label }}<br>
        {{ form.content (class="form-control") }}<br>
        {% for error in form.content.errors %}<br>
    <p class="alert ale-danger" role="alert">{{ error }}</p>
    {% endfor %}
    <p>{{ form.is_private() }}{{ form.is_private.label }}</p>
    <p>{{ form.submit(type="submit", class="btn btn-primary", onclick="return confirm('Подтвердите действие с записью')") }} </p>
</form>


{% endblock %}

{% block footer %}
<br>
{% endblock %}