{% extends "base.html" %}

{% block content %}

<h1 class="text-center">Контакты</h1>
<form action="" class="mail-form" method="post" novalidate>
    {{ form.hidden_tag() }}
     <p>
    <h1>Контакты</h1>
    <b>E-mail: </b> inkys@yandex.ru<br>
    <b>Адрес: </b> Санкт-Петербург <br>
     </p>
    <p>
        {{ form.username.label }}:
        {{ form.username(class="form-control", cols="25", rows="10") }}<br>
        {% for error in form.username.errors %}
    <div class="alert ale-danger" role="alert">{{ error }}</div>
    {% endfor %}
    </p>

     <p>
        {{ form.phone.label }}:
        {{ form.phone(class="form-control") }}<br>
        {% for error in form.phone.errors %}
    <div class="alert ale-danger" role="alert">{{ error }}</div>
    {% endfor %}
    </p>
    <p>
        {{ form.email.label }}:
        {{ form.email(class="form-control", type="email") }}<br>
        {% for error in form.email.errors %}
    <div class="alert ale-danger" role="alert">{{ error }}</div>
    {% endfor %}
    </p>
    <p>
        {{ form.message.label }}:
        {{ form.message(class="form-control", type="text") }}<br>
        {% for error in form.message.errors %}
    <div class="alert ale-danger" role="alert">{{ error }}</div>
    {% endfor %}
     </p>

    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>


{% endblock %}
{% block footer %}

{% endblock %}