

{% extends "base.html" %}

{% block content %}

<h1 class="text-center"> Вы успешно отправили сообщение на сайте </h1>
<h2>Ваше имя : {{ params['username'] }} </h2>
<h2>Телефон: {{ params['phone'] }} </h2>
<h2>Email: {{ params['email'] }}</h2>
<h2>Сообщение: {{ params['message'] }}</h2>
<h2>С сайта {{ params['page'] }}</h2>

{% endblock %}

{% block footer %}
<!--подвал-->
<br>
<footer class="bg-body-tertiary text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2024 Авторизация
    </div>
    <!-- Copyright -->
</footer>
<!--подвал end-->
{% endblock %}